################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio folders and files
.vs/
*.vs/
**/.vs/
**/.vs/**/*

# Visual Studio Code
.vscode/

# Additional Visual Studio temporary files
*.user
*.suo
*.userosscache
*.sln.docstates
*.vc.db
*.vc.db.lock
*.vc.vc.opendb

/XONT.VENTURA.APPCONSOLE/XONT.Ventura.AppConsole.BLL/bin
/XONT.VENTURA.APPCONSOLE/XONT.Ventura.AppConsole.BLL/obj
/XONT.VENTURA.APPCONSOLE/XONT.Ventura.AppConsole.DAL/bin
/XONT.VENTURA.APPCONSOLE/XONT.Ventura.AppConsole.DAL/obj
/XONT.VENTURA.APPCONSOLE/XONT.Ventura.AppConsole.Domain/bin
/XONT.VENTURA.APPCONSOLE/XONT.Ventura.AppConsole.Domain/obj
*.vspscc
/XONT.VENTURA.APPCONSOLE/XONT.Ventura.AppConsole.WEB/bin
*.vssscc
/XONT.VENTURA.APPCONSOLE/XONT.Ventura.AppConsole.WEB/obj
/XONT.VENTURA.APPCONSOLE/packages
*.zip
/XONT.VENTURA.APPCONSOLE/XONT.Ventura.AppConsole.WEB/V2MNT05
/XONT.VENTURA.APPCONSOLE/XONT.Ventura.AppConsole.WEB/node_modules_1
/XONT.VENTURA.APPCONSOLE/XONT.Ventura.AppConsole.WEB/node_modules
/XONT.VENTURA.APPCONSOLE/XONT.Ventura.AppConsole.WEB/APBCH01
/XONT.VENTURA.APPCONSOLE/XONT.Ventura.AppConsole.WEB/V2MNT09
