<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="printControl" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <!--<connectionStrings>-->
  
    <!--<add name="SAPDB" connectionString="Data Source=SQLSRVCLT01;Initial Catalog=XONTVenturaUserEDNA;User ID=xontadmin;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="UserDB" connectionString="Data Source=SQLSRVCLT01;Initial Catalog=XONTVenturaUserEDNA;User ID=xontadmin;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="SystemDB" connectionString="Data Source=SQLSRVCLT01;Initial Catalog=XONTVenturaSystemDEMO_V2;User ID=xontadmin;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="StaticDB" connectionString="Data Source=SQLSRVCLT01;Initial Catalog=XONTVenturaUserEDNA;User ID=xontadmin;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="ReportDB" connectionString="Data Source=SQLSRVCLT01;Initial Catalog=XONTVenturaUserEDNA;User ID=xontadmin;Password=xont@123" providerName="System.Data.SqlClient" />-->

    <!--<add name="SAPDB" connectionString="Data Source=VENTURADB\SQL2012R2;Initial Catalog=XONTVenturaUserSNWA_QC;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="UserDB" connectionString="Data Source=VENTURADB\SQL2012R2;Initial Catalog=XONTVenturaUserSNWA_QC;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="SystemDB" connectionString="Data Source=VENTURADB\SQL2012R2;Initial Catalog=XONTVenturaSystemSNWA_QC;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="StaticDB" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaStatic;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="ReportDB" connectionString="Data Source=VENTURADB\SQL2012R2;Initial Catalog=XONTVenturaUserSNWA_QC;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />-->

    <!--<add name="SAPDB" connectionString="Data Source=SQLSRVCLT01;Initial Catalog=XONTVenturaUserV2_TEST;User ID=xontadmin;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="UserDB" connectionString="Data Source=SQLSRVCLT01;Initial Catalog=XONTVenturaUserV2_TEST;User ID=xontadmin;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="SystemDB" connectionString="Data Source=SQLSRVCLT01;Initial Catalog=XONTVenturaSystemV2_TEST;User ID=xontadmin;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="StaticDB" connectionString="Data Source=SQLSRVCLT01;Initial Catalog=XONTVenturaUserV2_TEST;User ID=xontadmin;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="ReportDB" connectionString="Data Source=SQLSRVCLT01;Initial Catalog=XONTVenturaUserV2_TEST;User ID=xontadmin;Password=xont@123" providerName="System.Data.SqlClient" />-->
  <!--</connectionStrings>-->
  <!--<connectionStrings>
    <add name="StaticDB" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaStatic;User ID=sa;Password=xont@123"
      providerName="System.Data.SqlClient" />
    <add name="SystemDB" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTSYSTEMVENTURA;User ID=sa;Password=xont@123"
      providerName="System.Data.SqlClient" />
    <add name="UserDB" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTUSERVENTURA_ORG;User ID=sa;Password=xont@123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <!--<connectionStrings>
    <add name="SAPDB" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTUserVentura_ORG;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="UserDB" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaUserGWRX_DEV;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="SystemDB" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaSystemGWRX_Dev;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="StaticDB" connectionString="Data Source=192.168.1.10;Initial Catalog=XONTVenturaStatic;User ID=sa;Password=xont@12345" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <!--<connectionStrings>
    <add name="SAPDB" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaUserV2_QC;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="UserDB" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaUserV2_QC;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="SystemDB" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaSystemV2_QC;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="StaticDB" connectionString="Data Source=192.168.1.10;Initial Catalog=XONTVenturaStatic;User ID=sa;Password=xont@12345" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <!--<connectionStrings>
    <add name="SAPDB" connectionString="Data Source=SQLSRVCLT01;Initial Catalog=XONTVenturaUserV2_QC;User ID=xontadmin;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="UserDB" connectionString="Data Source=SQLSRVCLT01;Initial Catalog=XONTVenturaUserV2_QC;User ID=xontadmin;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="SystemDB" connectionString="Data Source=SQLSRVCLT01;Initial Catalog=XONTVenturaSystemV2_QC;User ID=xontadmin;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="StaticDB" connectionString="Data Source=SQLSRVCLT01;Initial Catalog=XONTVenturaStatic;User ID=xontadmin;Password=xont@12345" providerName="System.Data.SqlClient" />
    <add name="ReportDB" connectionString="Data Source=SQLSRVCLT01;Initial Catalog=XONTVenturaUserV2_QC;User ID=xontadmin;Password=xont@123" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <!--<connectionStrings>
    <add name="SAPDB" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaUserHSCJ_DEV;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
    <add name="UserDB" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaUserHSCJ_DEV;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
    <add name="SystemDB" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaSystemHSCJ_DEV;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
    <add name="StaticDB" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaStatic;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <connectionStrings>
    <add name="SAPDB" connectionString="Data Source=SQLSRVCLT01;Initial Catalog=XONTVenturaUserV2_TEST;User ID=xontadmin;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="UserDB" connectionString="Data Source=SQLSRVCLT01;Initial Catalog=XONTVenturaUserV2_TEST;User ID=xontadmin;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="SystemDB" connectionString="Data Source=SQLSRVCLT01;Initial Catalog=XONTVenturaSystemV2_TEST;User ID=xontadmin;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="StaticDB" connectionString="Data Source=SQLSRVCLT01;Initial Catalog=XONTVenturaStatic;User ID=xontadmin;Password=xont@12345" providerName="System.Data.SqlClient" />
    <add name="ReportDB" connectionString="Data Source=SQLSRVCLT01;Initial Catalog=XONTVenturaUserV2_QC;User ID=xontadmin;Password=xont@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<connectionStrings>

    <add name="SAPDB" connectionString="Data Source=VENTURADB\SQL2012R2;Initial Catalog=XONTVenturaUserSNWA_QC;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="UserDB" connectionString="Data Source=VENTURADB\SQL2012R2;Initial Catalog=XONTVenturaUserSNWA_QC;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="SystemDB" connectionString="Data Source=VENTURADB\SQL2012R2;Initial Catalog=XONTVenturaSystemSNWA_QC;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="StaticDB" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaStatic;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="ReportDB" connectionString="Data Source=VENTURADB\SQL2012R2;Initial Catalog=XONTVenturaUserSNWA_QC;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  
  <!--<connectionStrings>
    <add name="SAPDB" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaUserV2_QC;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="UserDB" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaUserV2_QC;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="SystemDB" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaSystemV2_QC;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="StaticDB" connectionString="Data Source=192.168.1.10;Initial Catalog=XONTVenturaStatic;User ID=sa;Password=xont@12345" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  
  <businessObjects>
    <crystalReports>
      <printControl>
        <add key="url" value="http://192.168.1.6:29192/Venturajlmp/PrintControl.cab" />
      </printControl>
    </crystalReports>
  </businessObjects>
  <appSettings>
    <add key="owin:appStartup" value="XONT.Ventura.AppConsole.LCSK.Startup1" />
    <add key="ClientDateFormat" value="MM/dd/yyyy" />
    <add key="ErrorMail" value="support@xontworld.com" />
    <add key="ErrorMailFrom" value="vcrmnotifications@xontworld.com" />
    <add key="SMTP" value="mail.xontworld.com" />
    <add key="Path1" value="http://venturademo.xontworld.com" />
    <add key="Path" value="http://192.168.1.6/Ventura/" />
    <add key="ImgPath" value="\\192.168.1.6\Ventura-Base\Ventura1" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <!--<connectionStrings>
    <add name="UserDB" connectionString="Data Source=192.168.1.10;Initial Catalog=XONTUSERVENTURA_HEMA_DEV;User ID=sa;Password=xont@123"
 providerName="System.Data.SqlClient" />
    <add name="SystemDB" connectionString="Data Source=192.168.1.10;Initial Catalog=XONTSYSTEMVENTURA_HEMA_DEV;User ID=sa;Password=xont@123"
providerName="System.Data.SqlClient" />
    <add name="StaticDB" connectionString="Data Source=192.168.1.6;Initial Catalog=XONTSTATICVENTURA;User ID=sa;Password=xont@123"
providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <!--<connectionStrings>
    <add name="SAPDB" connectionString="Data Source=SPS2010;Initial Catalog=HEMAS_QA_LIVE;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="UserDB" connectionString="Data Source=SPS2010;Initial Catalog=HEMAS_QA_LIVE;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="SystemDB" connectionString="Data Source=SPS2010;Initial Catalog=XONTSYSTEMVENTURA_ORG_HEMA;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="StaticDB" connectionString="Data Source=WEBSERVER;Initial Catalog=XONTSTATICVENTURA;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="SecurityTutorialsConnectionString" connectionString="Data Source=SPS2010;Initial Catalog=HEMASUSERVENTURA;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <!--<connectionStrings>
    <add name="UserDBLocal" connectionString="Data Source=192.168.1.10;Initial Catalog=LMDATA;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="UserDB" connectionString="Data Source=192.168.1.10;Initial Catalog=SWBL_TEST_DB;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="SystemDB" connectionString="Data Source=WEBSERVER;Initial Catalog=XONTSYSTEMVENTURA_SWBL;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="StaticDB" connectionString="Data Source=WEBSERVER;Initial Catalog=XONTSTATICVENTURA;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="SecurityTutorialsConnectionString" connectionString="Data Source=WEBSERVER;Initial Catalog=XONTUSERVENTURA;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <!--<connectionStrings>
    <add name="UserDB" connectionString="Data Source=192.168.1.10;Initial Catalog=XONTUSERVENTURA_CICJ_LIVE;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="SystemDB" connectionString="Data Source=WEBSERVER;Initial Catalog=XONTSYSTEMVENTURA_SWBL;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="StaticDB" connectionString="Data Source=WEBSERVER;Initial Catalog=XONTSTATICVENTURA;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="SecurityTutorialsConnectionString" connectionString="Data Source=WEBSERVER;Initial Catalog=XONTUSERVENTURA;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <!--<connectionStrings>
    <add name="SAPDB" connectionString="Data Source=VENTURADB\SQL2012R2;Initial Catalog=XONTVenturaUserSNWA_LIVE;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="UserDB" connectionString="Data Source=VENTURADB\SQL2012R2;Initial Catalog=XONTVenturaUserSNWA_LIVE;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="SystemDB" connectionString="Data Source=VENTURADB\SQL2012R2;Initial Catalog=XONTVenturaSystemSNWA_LIVE;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="StaticDB" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaStatic;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
    <add name="ReportDB" connectionString="Data Source=VENTURADB\SQL2012R2;Initial Catalog=XONTVenturaUserSNWA_LIVE;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <!--<httpHandlers>
    <remove verb="*" path="*.asmx" />
    <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
  </httpHandlers>-->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="CommonService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="true" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="5000000" maxReceivedMessageSize="5000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="5000000" maxStringContentLength="5000000" maxArrayLength="5000000" maxBytesPerRead="5000000" maxNameTableCharCount="5000000" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="true" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IChat" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="5000000" maxConnections="10" maxReceivedMessageSize="5000000">
          <readerQuotas maxDepth="5000000" maxStringContentLength="5000000" maxArrayLength="5000000" maxBytesPerRead="500000" maxNameTableCharCount="500000" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="true" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.125:6666/CommonService" binding="wsHttpBinding" bindingConfiguration="CommonService" contract="ServiceReferenceRef.ICommonService" name="CommonService" />
      <endpoint address="net.tcp://192.168.20.72:22222/chatservice" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChat" contract="ChatSvc.IChat" name="NetTcpBinding_IChat" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.1.0.0" newVersion="16.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name="login" timeout="45" />
    </authentication>
    <sessionState mode="InProc" cookieless="false" timeout="45" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace. 

   <customErrors defaultRedirect="../Error.aspx" />

        
        -->
    <!--<customErrors mode="off" defaultRedirect="Event.aspx">

      <error statusCode="404" redirect="filenotfound.aspx"/>

    </customErrors>-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>