



#sidebar .sidebar-inner ul#sideNav li ul.sub li a input
{
	font-size:13px;
	
}
#sidebar .sidebar-inner ul#sideNav li ul.sub li a span
{
	font-size:13px;
	
}
#right-sidebar .sidebar-inner ul#sideNav li a
{
	font-size:14px;
}

#right-sidebar .sidebar-inner ul#sideNav li  input
{
	color:rgb(242, 241, 239);
}







/* above added newly */

.gridster ul {
    background-color: #caebf2 !important;
}

.slides {background: rgb(23, 60, 93);list-style: none;padding: 0;margin: 0;position: relative;height: 401px;width: 100%;overflow: hidden;color: #D2ECF1;}
#layer
{
    background-color:#D2ECF1 !important;
}
#right-sidebar .sidebar-inner
{
    background:rgb(30, 81, 125) !important;
}
#sideNav
{
    background:none !important;
}
#content .content-wrapper #page-heading #crumb li a {
  padding-right: 5px;
  color: #1e8bc3;
  font-weight: 600;
}
.option-buttons-inner .btn-default{
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	cursor: pointer;
	 position: relative;
   -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    box-shadow: 0 4px #8C908F;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
    background-color:#24a8ac;
    border-color:#4FCCD0;
    color:#98FCFF;
  
}

.option-buttons-inner .btn-default:hover {

	/*background: #f2f1ef;*/
    background: #98FCFF;
    color:#1E517D;
	/*color:#454D56;*/
    border: 1px solid #24a8ac;
}

.option-buttons-inner .btn-default:active {
	top: 2px;
}





/*added new*/

body {
  overflow-x: hidden;
  min-height: 100%;
  background: #f2f1ef;
  color: #030303;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  position: relative;
}
a {
	color: #248fbd;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #74777b;
}
.role_highlight
{
    background-color:#173C5D !important;
}
.bu_highlight
{
  background-color:#173C5D !important;
}

.slimScrollDiv
{
  /* height:95% !important;
	margin-top:41px;
     padding-bottom:100px;*/
} 
.tabs-style-topline nav li.tab-current {
	border-top-color: #248fbd;
	border-bottom: none;
border-top-width:3px;
padding:4px 0px;
background:none !important;
}
.tabs-style-topline nav li.tab-current a {
	background: none;
	/*box-shadow: inset 0 3px 0 #248fbd;*/
	color: #fff;
}

#tab1,#tab2{
    background-color:#2c3e50;
}

#header {
  height: 52px;
  background: #0682B7;
  box-shadow: 0 4px 0 #0682B7;
  z-index: 999;
  position: absolute;
  width: 100%;
  top: 0;
}
#header .navbar {
  height: 52px;
  margin-bottom: 0;
  padding-right: 20px;
  border-radius: 0;
  border: none;
  background: #248fbd;
}
#content .content-wrapper #page-heading {
   padding: 10px 15px;
  position: relative;
  margin: 0;
  height: 48px;
  background-color: #D2ECF1;
  border-bottom: 1px solid #ffffff;
}
#sidebar.collapse-sidebar #sideNav li.hover-li a {
  width: 255px;
  background-color: #3e5771;
  color: #ecf0f1;
}
#sidebar.collapse-sidebar #sideNav li.hover-li a i {
  color: #5AC8FB;
}
#sidebar.collapse-sidebar #sideNav li.hover-li ul.sub li a {
  width: 201px;
  padding: 3px 0px !important;
  border-radius: 0;
  background-color: #2c3e50;
  color: #ecf0f1;
  box-shadow: none;
  font-size: 12px;
}

#sidebar:after {
    content: "";
 position: fixed;
 top: 0;
 left: 0;
 bottom: 0;
 width: 255px;
 background: #2c3e50;
 border-right: 1px solid #ffffff;
 z-index: -1;
 background: radial-gradient(transparent 37%, #163856 35%, #163754 70%, transparent 70%) 4px 4px,    radial-gradient(#113452 30%, transparent 32%) 0 0,    radial-gradient(rgba(255,255,255,.1) 30%, transparent 40%) 0 1px;
 background-color: #133450;
 background-size:16px 16px,8px 8px,8px 8px;


 /*content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 255px;
  background: #2c3e50;
  border-right: 1px solid #ffffff;
  z-index: -1;*/
  /*/*background-color: rgb(32, 32, 32);
  background-image: linear-gradient(45deg, #1E517D 25%, transparent 25%, transparent 75%, #1E517D 75%, #1E517D ), linear-gradient(45deg, #1E517D 25%, transparent 25%, transparent 75%, #1E517D 75%, #1E517D ), linear-gradient(to bottom, rgb(15, 114, 156), rgb(29, 108, 142));
  background-size: 10px 10px, 10px 10px, 10px 5px;
  background-position: 0px 0px, 5px 5px, 0px 0px;*/*/
   /*background: radial-gradient(transparent 37%, #1E517D 35%, #1E517D 70%, transparent 70%) 4px 4px,    radial-gradient(#1E517D 30%, transparent 32%) 0 0,    radial-gradient(rgba(255,255,255,.1) 30%, transparent 40%) 0 1px;
 background-color: #173E61;
 background-size:16px 16px,8px 8px,8px 8px;*/
 
}

#sidebar .sidebar-inner .toggle-sidebar {
  float: left;
  width: 34px;
  height: 34px;
  background-color: #e7e5e1;
  border-radius: 50%;
  position: absolute;
  right: -16px;
  top: 10px;
  box-shadow: 0px 0px 1px #e7e5e1;
  z-index: 999;
}
#sidebar .sidebar-inner .toggle-sidebar > a {
  margin: 4px;
  border-radius: 50%;
  background: #d2d7d3;
  width: 26px;
  height: 26px;
  display: inline-block;
}
#sidebar .sidebar-inner .toggle-sidebar > a > i {
  font-size: 20px;
  padding-top: 0;
  padding-left: 3px;
  color: #ffffff;
  margin-top: -4px;
}
#sidebar .sidebar-inner .option-buttons {
  margin: 0 1px 0 0;
  padding: 14px 0 10px;
  border-bottom: 2px solid #166F95;
  position: relative;
  text-align: center;
  background: #1E517D;
}
#sidebar .sidebar-inner .sidebar-title {
  font-size: 12px;
  text-transform: uppercase;
  color: #ecf0f1;
  padding: 0 15px;
 position:fixed;
  top:107px;
  z-index:100; 
}
#sidebar .sidebar-inner ul#sideNav li a {
  background-color: #173C5D;
  color: #ecf0f1;
  position: relative;
  padding: 2px 10px;
  display: inline-block;
  width: 100%; 
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: background;
  transition: background;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}


#right-sidebar .sidebar-inner ul#sideNav li a {
  background-color: #1E517D;
  color: #ecf0f1;
  position: relative;
  padding: 2px 10px;
  display: inline-block;
  width: 100%; 
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: background;
  transition: background;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#right-sidebar .sidebar-inner ul#sideNav li a:hover {
  color: #ffffff;
  background-color: #236298 !important;
}
#right-sidebar .sidebar-inner ul#sideNav li a:hover i {
  color: #5AC8FB;
}

#sidebar .sidebar-inner ul#sideNav li a.active,
#sidebar .sidebar-inner ul#sideNav li a.active:hover {
  color: #ffffff;
  background-color: #236298 !important;
}
#sidebar .sidebar-inner ul#sideNav li a.active i,
#sidebar .sidebar-inner ul#sideNav li a.active:hover i {
  color: #ecf0f1;
}
#sidebar .sidebar-inner ul#sideNav li a.active .label,
#sidebar .sidebar-inner ul#sideNav li a.active:hover .label {
  background: #236298;
}
#sidebar .sidebar-inner ul#sideNav li a .label {
  float: right;
  background: #5AC8FB;
  color: #ffffff;
  font-size: 11px;
  margin-top: 3px;
  padding: 5px 6px;
}
#sidebar .sidebar-inner ul#sideNav li a:hover,
#sidebar .sidebar-inner ul#sideNav li a.active-state {
  color: #ffffff;
  background-color: #236298;
 
}
#sidebar .sidebar-inner ul#sideNav li a:hover i,
#sidebar .sidebar-inner ul#sideNav li a.active-state i {
  color: #5AC8FB;
}
#sidebar .sidebar-inner ul#sideNav li ul.sub li a:hover {
  background-color: #236298;
  color: #5AC8FB;
}
#sidebar .sidebar-inner ul#sideNav li ul.sub li a.active,
#sidebar .sidebar-inner ul#sideNav li ul.sub li a.active:hover {
  color: #ffffff;
  background-color: #5AC8FB;
}
#sidebar .sidebar-inner ul#sideNav li.highlight-menu {
  background-color: #1E517D;
  border-radius: 2px;
}
#sidebar .sidebar-inner ul#sideNav li.highlight-menu a {
  background-color: #1E517D;
}
#sidebar .sidebar-inner ul#sideNav li.highlight-menu a:hover {
  background-color: #236298 !important;
}
#sidebar .sidebar-inner ul#sideNav li.highlight-menu a.active,
#sidebar .sidebar-inner ul#sideNav li.highlight-menu a.active:hover {
  background-color: #5AC8FB !important;
}
/* selected menu*/
a.expand
{
     background-color: rgba(48, 107, 158, 0.44) !important;
  color: #98FCFF !important;
}

<!--bootstrap overwrite -->

.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #0682B7 !important;
}

a.list-group-item-info:hover,
a.list-group-item-info:focus {
  color: #ffffff;
  background-color: #0682B7 !important;
}

.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #1bbc9b;
  border-bottom: 1px solid #0682B7 !important;
  border-radius: 5px 5px 0 0;
}

.btn-teal.disabled,
.btn-teal[disabled],
fieldset[disabled] .btn-teal,
.btn-teal.disabled:hover,
.btn-teal[disabled]:hover,
fieldset[disabled] .btn-teal:hover,
.btn-teal.disabled:focus,
.btn-teal[disabled]:focus,
fieldset[disabled] .btn-teal:focus,
.btn-teal.disabled:active,
.btn-teal[disabled]:active,
fieldset[disabled] .btn-teal:active,
.btn-teal.disabled.active,
.btn-teal[disabled].active,
fieldset[disabled] .btn-teal.active {
  background-color: #1bbc9b;
  border-color: #0682B7 !important;
}

.btn-teal:hover,
.btn-teal:focus,
.btn-teal:active,
.btn-teal.active {
  background-color: #2ae0bb;
  border-color: #0682B7 !important;
  box-shadow: 0 2px 0 #1ed2ad;
}
.btn-teal.disabled,
.btn-teal[disabled] {
  box-shadow: 0 2px 0 #18a689;
}
.btn-teal.btn-alt {
  box-shadow: none;
  color: #1bbc9b;
  background-color: transparent;
  border-color: #0682B7 !important;
  border-width: 2px;
}

.btn-teal.btn-alt.disabled,
.btn-teal.btn-alt[disabled],
fieldset[disabled] .btn-teal.btn-alt,
.btn-teal.btn-alt.disabled:hover,
.btn-teal.btn-alt[disabled]:hover,
fieldset[disabled] .btn-teal.btn-alt:hover,
.btn-teal.btn-alt.disabled:focus,
.btn-teal.btn-alt[disabled]:focus,
fieldset[disabled] .btn-teal.btn-alt:focus,
.btn-teal.btn-alt.disabled:active,
.btn-teal.btn-alt[disabled]:active,
fieldset[disabled] .btn-teal.btn-alt:active,
.btn-teal.btn-alt.disabled.active,
.btn-teal.btn-alt[disabled].active,
fieldset[disabled] .btn-teal.btn-alt.active {
  background-color: transparent;
  border-color: #0682B7 !important;
  border-width: 2px;
}

#header .navbar #top-nav .navbar-nav li.dropdown.open
{
	 background: #0682B7 !important;
}

#header .navbar #top-nav .navbar-nav li.dropdown.open a
{
	 background: #0682B7 !important;
}

#header .navbar #top-nav .navbar-nav li a:hover, #header .navbar #top-nav .navbar-nav li a:focus
{
	 background: #0682B7 !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus
{
	border-color: #0682B7 !important;	
}

#header .navbar #top-nav .navbar-nav li.dropdown.open .dropdown-menu li a.view-all:hover {
  background: #ccc !important;
}
#header .navbar #top-nav .navbar-nav li.dropdown.open .dropdown-menu li a:hover {
  color: #141415;
  background: #D2ECF1 !important;
}

#header .navbar #top-nav .navbar-nav li.dropdown.open .dropdown-menu li a {
  color: #030303;
  text-align: left;
  height: auto;
  padding: 5px 10px;
  line-height: 28px;
  background-color: #fff !important;
}

.s-header {
  background: #248fbd !important;
  color: #ffffff;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 10px;
  border-bottom: 1px solid #95a5a6;
  min-height: 12px;
}

.modal .modal-content .modal-header {
  padding-left: 20px;
  padding-right: 20px;
  background: #248fbd !important;
  color: #ffffff;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#tabs li.current { background-color:#fff;border-top:solid 3px #248fbd !important; border-bottom: none; padding-bottom:1px; position:relative; z-index:1;}
#tabs li a:hover{  color:#ccc !important;}
#tabs li a:focus{  color:#74777b !important;}

.tabs-style-topline nav a:hover,
.tabs-style-topline nav a:focus {
	color: #ccc !important;
}

#tabs li.current a:hover
{
	color: #ccc !important;
}